// font-family: ‘Josefin Sans’, sans-serif;
//font-family: ‘Rancho’, cursive;

$header-font: ‘Josefin Sans’, sans-serif;
$subheader-font: ‘Rancho’, cursive;
$button-color: #471828;
$number-color: #471828;
$subtitle-color: #471828;
$odd-section-background: #d2c2a1;
$even-section-background: #987647;
$footer-color: #292522;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: $odd-section-background;
  padding: 1rem;

  #nav-wrapper {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;

      li a {
        text-decoration: none;
        margin: 0 25px;
      }
    }
  }
}

.banner {
  height: 500px;
  background: {
    image: url(https://images.unsplash.com/photo-1545396635-fdb4bdd02d8b?ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80);
    position: center;
    size: cover;
    repeat: no-repeat;
  }
}

.one {
  background-color: $odd-section-background;
  display: flex;
  justify-content: space-between;

  img {
    height: auto;
    width: 100%;
  }

  .number1 {
    font-size: 7em;
    margin: -12% 0% 0% -15%;
    color: $number-color;
  }

  .slide1-title {
    background: $odd-section-background;
    color: black;
    margin: -23% 0% 3% 1%;
    font-size: 50px;
    z-index: 1;
    position: relative;
  }

  .slide1-content {
    margin-left: 5%;
    padding: 5%;
  }

  button {
    background-color: $button-color;
    color: $odd-section-background;
    padding: 2rem;
  }
}
.two {
  background-color: $even-section-background;
  padding: 2rem;

  .number {
    font-size: 7em;
    margin: 0% 0% 0% 9%;
    color: $number-color;
  }

  .slide2-title {
    background: $even-section-background;
    color: black;
    margin: -6% 0% 3% 13.5%;
    font-size: 50px;
    z-index: 1;
    position: relative;
  }

  .slide2-sub-title {
    font-size: 30px;
    margin: 0% 0% 2% 5%;
    color: $subtitle-color;
  }

  p {
    margin: 0% 0% 2% 13%;
  }
}
