// font-family: ‘Josefin Sans’, sans-serif; 
//font-family: ‘Rancho’, cursive;

$header-font: ‘Josefin Sans’, sans-serif;
$subheader-font: ‘Rancho’, cursive;
$button-color: #471828;
$number-color: #471828;
$subtitle-color: #471828;
$odd-section-background: #d2c2a1;
$even-section-background: #987647;
$footer-color: #292522;

header {
    background-color: $odd-section-background;
    padding: 1rem;

    #nav-wrapper {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;

            li a {
                text-decoration: none;
                
            }
        }
        


    }


}

